<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %-12([%thread]) %-47(%logger{48}) - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="Application" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS}  %-5level %-23([%thread]) %-48(%logger{48}) - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>/home/anonimous/programming/projects/current/epsm-web/logs/Application.%d{dd-MM-yyy}.log.zip</fileNamePattern>
      		<maxHistory>7</maxHistory>
    	</rollingPolicy>
	</appender>
	
	<logger name="com.epsm.epsmWeb" level="INFO" additivity="false">
		<appender-ref ref="Application" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>add methods for unit tests
	</root>
</configuration>