<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property resource="application.properties"/>
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %-23([%thread]) %-47(%logger{48}) - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="web-application" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS}  %-5level %-23([%thread]) %58(%logger{48}) - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>${logging.destination}/epsm-web/web-application.%d{dd-MM-yyy}.log.zip</fileNamePattern>
      		<maxHistory>7</maxHistory>
    	</rollingPolicy>
	</appender>
	jar
	<appender name="core-application" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS}  %-5level %-23([%thread]) %-58(%logger{48}) - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>${logging.destination}/epsm-web/core-application.%d{dd-MM-yyy}.log.zip</fileNamePattern>
      		<maxHistory>7</maxHistory>
    	</rollingPolicy>
	</appender>
	
	<appender name="core-system" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS}  %-5level %-23([%thread]) %-30(%logger{40}) - %msg%n</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      		<fileNamePattern>${logging.destination}/epsm-web/core-system.%d{dd-MM-yyy}.log.zip</fileNamePattern>
      		<maxHistory>7</maxHistory>
    	</rollingPolicy>
	</appender>
	
	<logger name="com.epsm.epsmweb" level="ERROR" additivity="false">
		<appender-ref ref="web-application" />
	</logger>

	<logger name="com.epsm.epsmcore.model" level="ERROR" additivity="false">
		<appender-ref ref="core-application" />
	</logger>
	
	<logger name="com.epsm.epsmcore.model.utils" level="ERROR" additivity="false">
		<appender-ref ref="web-application" />
	</logger>
	
	<logger name="com.epsm.epsmcore.model.bothConsumptionAndGeneration.PowerObjectMessageManager" level="ERROR" additivity="false">
		<appender-ref ref="core-system" />
	</logger>

	<root level="ERROR">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>