div.all{
    width: 1280px;
    height: 900px; 
    position:relative;
    top:0;
    left:0;
    color: #4477bb;
    border: 1px solid;
    margin: 0 auto;
}

div.roof{
    height: 60px;
    border-bottom:1px solid;
    margin: 0;
    padding: 0;
}

.input {
    color: #4477bb;
    border: 1px solid #4477bb;    
}

div.EPSsw{
    float: left;
}

.EPS{
    margin-left: 30px;
}

div.menu {
    height: 20px;
    padding: 0px;
    border-bottom: 1px solid;
}

div.menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-left: 450px;
}

div.menu ul li {
	display: inline;
	padding: 0;
}

div.menu ul li a {
	font: 80% sans-serif; 
	line-height: 0%;
	padding: 0;
	padding-left:20px;
}

.out {
    float: right;
    margin-right: 10px;
    margin-top: 30px;
}

p.cms {
    font-size: 150%;
    position: absolute;
    margin-top: 30px; 
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.indicators p {
    float: left;
    font: 80% sans-serif;
    margin: 10px;
    margin-left: 30px;
}

table.user_table {
    font: 80% sans-serif;   
    text-align: center;    
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    border-collapse: separate;
    border-spacing: 20px 10px; 
    overflow-y: hidden;
}

div.over{
    width: 250px;
    height: 250px;
    color: black;
    border: 1px solid #4477bb;
    overflow-y: scroll;
}

div.basement{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1200px;
    padding: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid;
}

A{
    color: #4477bb;
}

A:visited {
    color: #4477bb;
}

A:active {
    color: #4477bb;
}
